@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400&family=Poppins:ital,wght@1,400;1,600&display=swap');

html{
  height: 100%;
  width: 100%;
}
body{
     min-height: 100%;
     max-width: 100%;
     background-color:#8187dc;
     
}


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Encode Sans', sans-serif;
}

main {
     margin: 0 auto;
     width: 89vm;
     height: 90vh;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
     padding: 100px;
     line-height: 50px;
     background: linear-gradient( #b298dc, #8187dc);
 height: 100%;

}

.imagen_presentacion img{

     width:20%;
     height: 20%;
     position: relative;
     left: 80%;

}


.imagen2{
     width:50%;
     height: 20%;
     position: relative;
     left: 60%;
     position: relative;
     bottom: 150px;

}
.presentacion {
     font-size: 70px;
     padding:5px;
}

.presentacion_p {
     font-size: 20px;

}

span {

     color: #bbadff;
}

.icono_main {
     font-size: 35px;
     color :#5e548e;

     
}
.icono_main i {
     font-size: 35px;
     color: black  ;

}

.descargar {
     padding: 10px;
     background-color: #cbb2fe;
     border: none;
     border-radius: 20px;
     margin-top: 10px;
     cursor: pointer;
     box-shadow: 1px 2px 12px -2px white;
     font-size: 150%;

}

.descargar:hover {
     background-color: #ff8fa3;
     transition: ease-in .4s;
}

body {
     width: 88vm;
     height: 80vh;
     overflow-x: hidden;
     font-family: 'Courier New', Courier, monospace;
}

.wrapper {
     width: 100vw;
     height: 100vh;
     background-color:#8187dc;
     color: white;
     justify-content: space-evenly;
}

.brand {
     margin-top: -7px;
}



.navbar {
     display: flex;
     justify-content: space-between;
     padding: 1em;
     background-color:#dab6fc;
     flex: auto;
}

.menu {
     color: black;
     display: flex;
     width: 50%;
     justify-content: space-around;
     line-height: 50px;
     flex: auto;
     
}

.menu li {
     list-style: none;
}

.menu a {
     color:black;
     text-decoration: none;
     font-size: 20px;
     padding: 10px;

}


.menu a:hover {
     background-color: #e0c3fc;
     color: white;
     transition: ease-in .4s;
    
}

/**/
.boton_estudios {
     padding: 10px;
     background-color: #b298dc;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     font-size: 25px;
     justify-content: left;
     box-shadow: 1px 2px 18px -2px white;
     flex: auto;

}

.boton_estudios:hover {
     background-color:#ff8fa3;
     transition: ease-in .4s;
}

.conteiner_estudios {
     padding-left: 950px;
     padding-right: 50px;

}


.conteiner_sobre_mi {
     width: 80%;
     height:300%;
     margin: auto;
     text-align: left;
     position: relative;
     color:white;
     top: 40%;
}

.conteiner_sobre_mi h2 {
     color: #bbadff;
     font-size: 250%;
     text-align: center;
}
.conteiner_sobre_mi p {
     font-size: 160%;
     text-align: center;
}
.conteiner_sobre_mi img {
     width: 150%;
     height: 150%;
}




.sobre_mi {
     justify-content: center;
     display: grid;
     width: 80vw;
     background-color:hwb(236 51% 14%);
     height: 90%;
     width: 100%;;

}


.informacion_sobre_mi {
     color: white;
     grid-column: 5/10;
     text-align: center;
     line-height: 35px;
     padding: 1em;
}

.informacion_sobre_mi h2 {
     text-align: center;
     font-size: 2em;
     color: white;

}


/*linnks*/

.habilidades {
     background-color: #8187dc ;
     color: white;
     width: 100%vh;
     height: 100vh;
     font-size: 20px;
  
}

.habilidades h1 {
     font-size: 5px;
}


.portafolio_titulo h1 {
     padding: 30px;
     font-size: 50px;
     text-align: left;
     color:#bbadff;
}
.parte_proyectos{
     height: 100%;
     width: 100%;
}

.descargas{
     display: flexbox;
     padding-left: 70%;
     position: relative;
     bottom: -50;
     left: 10%;
     color: #5a189a;
}
.github_icono{
     display: flexbox;
     padding-left: 10%;
     padding: auto;
     position: relative;
     bottom: 130px;
     color: #5a189a;

}
.container_iconos_index{
     display: flexbox;
     padding:  5%;
     padding: auto;
     font-size: 500%;

}
.conteiner_boton{

     display: flexbox;
     padding-left: 10%;
     padding: auto;
     align-items: center;
     position: relative;
    right: 80%;
}
.container {
     align-self: center;
     align-items: center;
     height: 200px;
     padding: 50px;
     flex: auto;
}




.contacto_head {

     text-align: left;
     padding: 10px;
}

.conteiner_form {
     padding: 5em;
     margin: 3px;
     margin-inline-end: auto;
     display: flex;
     flex-direction: column;
     width: 30vw;
     bottom: 0px;
     text-align: center;
     flex: auto;
}


.titulo_contacto_head {
     font-size: 20px;
     padding: 60px;
     color: white;
}

.titulo_footer h2 {
     text-align: left;
     font-size: 30px;
     color: black;
     padding-left: 10px;
}

.titulo_footer h6 {
     text-align: left;
     font-size: 98%;
     color: #5a189a;
     padding: 10px;

}

.titulo_footer i {
     padding-right: 5px;
}

.iconos_footer {
     align-items: center;
     padding-left: 3%;
}

.iconos_footer i {
     font-size: 28px;
     align-items: center;
     color: #5a189a;
}

footer {
     top: 60%;
     position: relative;
     background-color: #dab6fc;
     display: flex;
     flex-direction: row;
     justify-content: left;
     align-items: center;
     flex: auto;
     width: auto;
     height: auto;
}


.iconos_datos-footer i {
     color: #5a189a;

}

.section_2_footer {
     column-count: 1;
     text-align: left;
     display: flex;

}

.iconos_datos-footer a {
     flex-direction: column;
     font-size: 23PX;
color: black;

}

.iconos_datos-footer h6 {
     font-size: 90%;
     text-align: left;
     padding: 5px;
     color:  #5a189a;
}

.footer_izquierdo {
     flex-direction: column;
     justify-content: left;
}

.conteiner_footer1 {
     flex-direction: column;
     justify-content: center;


}


.overlay {
     background-color: rgba(0, 0, 0, .3);
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #ebeaa9;
     visibility: hidden;
}

.overlay.active {
     visibility: visible ; 
}

.poupop {

     border-radius: 3px;
     padding: 20px;
     text-align: left;
     width: 600px;
     transition: .4s ease all;
     transform: scale(0.7);
     opacity: 0 ;
     color: white;
     background-color: #000000b8;

}
.poupop.active{
     opacity: 1 ;
}

.cerrar_popup {
     font-size: 16px;
     display: block;
     text-align: left;
     color: #7d2948;
     transition: .4s ease all;
}

.cerrar_popup:hover {
     background: #ceca0f;
}

.poupop h3 {
     font-size: 36px;
     font-weight: 500;
     margin-bottom: 10px;

}

.derechos {
     text-align: center;
     font-size: 8px;
     color: #fffbfc;

}

.poupop h4 {
     font-size: 26px;
     font-weight: 500;
     margin-bottom: 10px;

}
/*menu interativo*/
.hover-underline-animation {
     display: inline-block;
     position: relative;
     color: black;
   }
   
   .hover-underline-animation::after {
     content: '';
     position: absolute;
     width: 100%;
     transform: scaleX(0);
     height: 2px;
     bottom: 0;
     left: 0;
     background-color:#5a189a;
     transform-origin: bottom right;
     transition: transform 0.25s ease-out;
   }
   
   .hover-underline-animation:hover::after {
     transform: scaleX(1);
     transform-origin: bottom left;
   }

/*imagen interativa delfina */
.hover-img {
     background-color: #000;
     color: #fff;
     display: inline-block;
     margin: 0px;
     max-width: 500px;
     min-width: 500px;
     overflow: hidden;
     position: relative;
     text-align: center;
     width: 100%;
   }
   
   .hover-img * {
     box-sizing: border-box;
     transition: all 0.45s ease;
   }
   
   .hover-img::before,
   .hover-img::after {
     background-color: rgba(0, 0, 0, 0.5);
     border-top: 32px solid rgba(0, 0, 0, 0.5);
     border-bottom: 32px solid rgba(0, 0, 0, 0.5);
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     content: '';
     transition: all 0.3s ease;
     z-index: 1;
     opacity: 0;
     transform: scaleY(2);
   }
   
   .hover-img img {
     vertical-align: top;
     max-width: 100%;
     backface-visibility: hidden;
   }
   .imagen_delfina{
     position: relative;
     bottom: -4px;
     left: 30%;
   }
   .imagen_delfina h1{
     position: relative;
     bottom: -4px;
     left: 3%;
     color:#bbadff;
     font-size: 250%;
     bottom: 150px;
   }
   .informacion_proyecto{
     background-color: #c5bcee9f;
     color: #cbb2fe;
     width: 28%;
     position: relative;
     bottom: -189px;    
      left: 40%;
      top: -280px;
      border-radius: 10px;
   }
   .informacion_proyecto h2{
     color: #5a189a;
     position: relative;
     font-size: 35px;
   }
   .informacion_proyecto h3{
     color: white;

     font-size: 20px;
   }
   .hover-img figcaption {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     align-items: center;
     z-index: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     line-height: 1.1em;
     opacity: 0;
     z-index: 2;
     transition-delay: 0.1s;
     font-size: 24px;
     font-family: sans-serif;
     font-weight: 400;
     letter-spacing: 1px;
     text-transform: uppercase;
   }
   
   .hover-img:hover::before,
   .hover-img:hover::after {
     transform: scale(1);
     opacity: 1;
   }
   
   .hover-img:hover > img {
     opacity: 0.7;
   }
   
   .hover-img:hover figcaption {
     opacity: 1;
   }


@media screen and (max-width:740px) {

     /*info principal */
     main {

          width: 70vh;
          height: 100vh;
          display: flex;
          align-items: center;
          padding: 15px;
          padding-left: 5px;
          line-height: 50px;
          flex: auto;

     }

     .presentacion {
          font-size: 35px
     }

     .presentacion_p {
          font-size: 15px;

     }

     .portafolio_titulo h1 {
          padding: 30px;
          font-size: 25px;
     }

     .portafolio_titulo h6 {
          padding: 10px;
          font-size: 10px;
          text-align: center;
     }

     .container {
          align-self: center;
          align-items: center;
          height: 250px;
          padding: 30px;
     }

     .sobre_imagen {
          width: 130%;
          height: 100vh;
          background-image: url(imagenes/coppia.jpg);
     }

     .informacion_sobre_mi {
          color: white;
          grid-column: 5/1;
          text-align: left;
          line-height: 70px;
          font-size: 100%;
          padding: 50px;
     }

     .portafolio_titulo h1 {
          padding: 50px;
          font-size: 25px;
     }

     .portafolio_titulo h6 {
          padding: 10px;
          font-size: 10px;
          text-align: center;
     }

     .conteiner_estudios {
          padding-left: 0px;
          padding-right: 0px;

     }

}

.habilidades_links a {
     line-height: 100px;
}

.habilidades_links i {
     font-size: 3em;
     align-items: flex-end;
     text-align: center;

}

/* traer boton de estudios a la parte izquierda */


@media screen and (max-width<700px) {


     /*animaciones*/
     .poupop.active {
          opacity: 2;
          transform: scale(1)
     }
}